---
layout: default
section: Learn
title: Manual and Tutorials
---

<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-4">
        <h2>Manual</h2>
        <p>
            Each download includes a copy of the Operating Manual. For convenience, you can also directly <a href='{% include file_url.html file="testing_manual" %}'>download the manual</a> ({% include file_meta.html file="testing_manual" %}).
        </p>
        <h2>Test Environment for Models</h2>
        <p>
One of our aims for Open Rails is that train performance should be as realistic as closely as possible. To help achieve this,
Peter Newell has developed <a href="http://www.coalstonewcastle.com.au/physics/">an environment for testing</a> the performance of locos and rolling stock. Do they perform as we expect?
</p><p>
It may be the model that is not configured correctly or, as Open Rails develops, it may be that the simulator is lacking in realism.
</p><p>
In either case, a neutral, repeatable test environment helps to pin down the issue and get it fixed. 
</p>
    </div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4">
        <h2>Tutorials</h2>
        <p>
            We need tutorials for all aspects of Open Rails on:
</p>
<ul>
    <li>Driving Trains</li>
    <li>Building Activities and Timetables</li>
    <li>Creating Rolling Stock and Static Objects</li>
    <li>Building Routes</li>
</ul>
<p>
    such as the tutorials on <a href="http://msts-roundhouse.vnxglobal.com/" target="_blank">Eric Conrad's blog</a>.
</p><p>
    If you are interested in helping with tutorials, please <a href='../../contact/'>contact us</a>.
</p>
<h3>Some other support materials are available:</h3>
<ul>
    <li>
        A <a href="{% include file_url.html file="doc_german_keyboards" %}">guide for German keyboards</a>
        ({% include file_meta.html file="doc_german_keyboards" %})
    </li>
    <li>
        <a href="{% include file_url.html file="doc_signaling" %}">Signaling - Operational Changes</a> which describes signaling in Open Rails
        ({% include file_meta.html file="doc_signaling" %})
    </li>
    <li>
        <a href="{% include file_url.html file="doc_trackviewer" %}">Open Rails Trackviewer</a> which maps the track and roads
        ({% include file_meta.html file="doc_trackviewer" %})
    </li>
    <li>
        <a href="{% include file_url.html file="doc_steam" %}">Steam Model</a> describing the physics in Open Rails
        ({% include file_meta.html file="doc_steam" %})
    </li>
    <li>
        <a href="{% include file_url.html file="doc_curves" %}">Speed Limits on Curves</a>
        ({% include file_meta.html file="doc_curves" %})
    </li>
</ul>
    </div>
</div>
